{% extends 'base.html' %}
{% block title %} Connexion {% endblock %}

{% block content %}

  <form method="POST">
    <div class="row">

      <div class="col-3"></div>
      <div class="col-6">
        <h1>Connexion</h1>
        <div class="form-group">
          {% csrf_token %}
          {% comment %} {{ form.as_p }} {% endcomment %}
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" placeholder="nom d'utilisateur">
            <label>Nom d'utilisateur</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" placeholder="mot de passe">
            <label>Mot de passe</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
        <br /><br />
        vous n'avez pas de compte ? <a href="{% url 'inscription' %}">Créer un compte</a>
      </div>
      <div class="col-3"></div>

    </div>
  </form>

{% endblock %}