{% extends 'base.html' %}
{% block title %} Changer mon mot passe {% endblock %}

{% block content %}

  <h1>Modification du mot de passe</h1>

  <form method="POST">
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          {% csrf_token %}
          {% comment %} {{ form.as_p }} {% endcomment %}
          <label for="old_password">Ancien mot de passe</label>
          {{ form.old_password }}<br />
          <label for="new_password1">Nouveau mot de passe</label>
          {{ form.new_password1 }}<br />
          <label for="new_password2">Confirmer le nouveau mot de passe</label>
          {{ form.new_password2 }}<br />
        </div>
      </div>
      <div>
        <ul>
          <li>
            Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.
          </li>
          <li>
            Votre mot de passe doit contenir au minimum 8 caractères.
          </li>
          <li>
            Votre mot de passe ne peut pas être un mot de passe couramment utilisé.
          </li>
          <li>
            Votre mot de passe ne peut pas être entièrement numérique.
          </li>
        </ul>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Modifier mon mot passe</button>
  </form>

{% endblock %}